/* saved items and order status */
#order-status{
    height: 0;
      width: 100%;
      
  }
  #order-content{
      width: 83%;
      height: 60%;
      margin-left: 17%;
      background-color: #fff;
      opacity: 0;
  }
#saved-items{
    height: 0;
    width: 100%;
    
}
#saved-content{
    width: 83%;
    height: 60%;
    margin-left: 17%;
    background-color: #fff;
    opacity: 0;
}
.top-content{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}
.vline{
    height: 50px;
    width: 1px;
    background-color: grey;
    margin-left: 10px;
    margin-right: 10px;
}
#close1,#close2{
    font-size: 35px;
    background-color: white;
    margin-right: 10px;
}
.top-content a{
    text-decoration: none;
    color: blue;
}
.top-content a:hover{
    text-decoration: underline;
}
.close{
    margin-left: 50%;
    color: rgb(33, 135, 252);
    cursor: pointer;
}
.bottom-content{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
.bottom-content h1{
    font-size: 40px;
}
.bottom-content p{
    font-size: 18px;
}
.bottom-content img{
    height: 250px;
    margin-left: 20px;
}
#saved-items .hr{
    background-color: grey;
    width: 90%;
    margin: auto;
}
#buttonorder{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
#buttonorder:hover{
    background-color: rgb(15, 15, 180);
}


/* write from here  */




/* footer css  */
footer{
    height: auto;
    background-color: #f0f2f4;
    margin-top: 140px;
}
footer>.box-1{
    width: 90%;
    height: 200px;
    margin: auto;
    display: flex;
    padding-top: 25px;
    text-align: center;
    
}
footer>.box-1>div>p>i{
    font-size: 120px;
    color: rgb(110, 110, 110);
}
footer>.box-1>div>a{
  text-decoration: none;
}
footer>.box-1>div>a:hover{
    text-decoration: underline;
    cursor: pointer;
  }


 
footer>.box-1>div{
    width: 20%;
    height: 100%;
    margin: auto;
}
footer>.box-2{
    width: 95%;
    height: 550px;
    margin: auto;
    display: flex;
    padding-top: 25px;

}
footer>.box-2>div{
    width: 22%;
    height: 98%;
    margin: auto;
    padding-top: 10px;
    line-height: 35px;
}
footer>.box-2>div:nth-child(4){
    width: 34%;
}
footer>.box-2>div>a+h3{
    padding-top: 20px;
}
footer>.box-2>div>a{
    text-decoration: none;
}
footer>.box-2>div>a:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer>.box-2>#contact{
    background-color: white;
    padding-left: 10px;
    line-height: 70px;

}
footer>.box-2>#contact>.small-box-3 i{
    color: #0046be;
    padding-left: 35px;
    font-size: 35px;
    
}
footer>.box-2>#contact>.small-box-1 button{
    background-color: #0046be;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 90px;

    
}

footer>.last>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 10px 30px;
}
footer>.last>div:nth-child(2){
    padding-top: 16px;
    display: flex;
    justify-content: space-around;
}
footer>.last>div>p{
    padding-left: 17px;
    padding: 35px 10px 20px 10px;
}