body{
    background-color: #4476FC;
}
.ms_h1{
    color: #ffff;
    text-align: left;
    font-weight: 700;
    line-height: 69px;
    font-size: 60px;
     font-family: 
     "Human BBY Web", Roboto, Arial, sans-serif;
    margin-top: -1px;
   
}

.ms_main>img{
height:50px;
width: 70px;
margin-top: 50px;
margin-bottom: 20px;
}
.ms_h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: 
    "Human BBY Web", Roboto, Arial, sans-serif;
}

.ms_h4{
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: 
    "Human BBY Web", Roboto, Arial, sans-serif;
     margin-top: 20px;
    text-align: left;
}
.ms_p{
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 
    "Human BBY Web", Roboto, Arial, sans-serif;
  margin-top: -13px;
  text-align: left;
}
.ms_row{
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;

}

.ms_column{
height: 100%;
width: 100%;
}

.ms_main{
   display: grid;
   text-align: center;
   justify-content: center;
   height:70%;
   width: 40%;
   margin-left: 30%;
}

.ms_hr{
   margin-top: 50px;
   width: 100%;
    color: #4979e6;
}


#canada:hover {
    border: 2px solid yellow;
    cursor: pointer;
}
#us:hover {
    border: 2px solid yellow;
    cursor: pointer;
}
#mexico:hover {
    border: 2px solid yellow;
    cursor: pointer;
}