header{
    height: 110px;
    background-color: rgb(2, 39, 161);
}
#nav1{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
#nav1>img{
    width: 80px;
    height: 40px;
}
#nav1 i{
    font-size: 30px;
    color: white;
}
#nav1 input{
    width: 350px;
    height: 30px;
}
form{
    width: 380px;
    display: flex;
    justify-content: space-between;
}
#cart a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#cart a:hover{
    text-decoration: underline;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: rgb(40, 79, 252);
}
#nav2{

    display: flex;
    justify-content: space-between;
}
#shop{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
#order{
    width: 43%;
    display: flex;
    justify-content: space-around;
}
#shop a{
    color: white;
    text-decoration: none;
}
#shop a:hover{
    text-decoration: underline;
}
#order a{
    color: white;
    text-decoration: none;
}
@media all and (min-width:421px) and (max-width: 760px){
    header{
        width: 100%;
        height: 60px;
        background-color: rgb(2, 39, 161);
    }
    #nav1{
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }
    #nav1>img{
        width: 30px;
        height: 15px;
    }
    #nav1 i{
        font-size: 15px;
        color: white;
    }
    #nav1 input{
        width: 120px;
        height: 15px;
    }
    form{
        width: 600px;
        display: flex;
        justify-content: space-between;
    }
    #cart a{
        font-size: 15px;
        color: white;
        text-decoration: none;
    }
}