
#boundry{
  display:grid;
  grid-template-columns:repeat(10, 1fr);
  grid-template-rows:auto;
  gap:20px;
  margin:auto;
  margin-top:100px;
}
#boundry>div{
  margin-bottom:20px;
  box-sizing:border-box;
  padding:0px 5px 0px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius:15px;
}
.innerbox{
  display:flex;
  justify-content:space-between;
}
p{
  font-size:16px;
  color:dark blue;
  text-align:bottom;
  margin-top:0px;
}
img{
  height:130px;
  width:110px;
  margin:auto;
}
div>h2:last-child{
  color:rgb(190,107,48);
}
@media all and(min-width:81px) and (max-width:42px){
    #container{
        grid-template-columns: repeat(1, 1fr);
    }
}



#pricing{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:auto;
    gap:20px;
    width:60%;
    margin:auto;
}
#pricing>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align:left;
    padding:10px;
}
#pricing>div>#boundry1{
    border-top:1px solid blue;
    border-bottom:1px solid blue;
    text-align:left;
    padding:10px;
}




.top-section{
height:350px;
width:70%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box11{
width:48%;
height:100%;
margin:auto;
background-color:#3470E4;
border-radius:15px;
padding:15px;
box-sizing:border-box;
color:white;
}
.box12{
width:48%;
height:100%;
margin:auto;
background-color:#6E71CC;
border-radius:15px;
padding:15px;
box-sizing:border-box;
color:white
}



.moretop-section{
height:200px;
width:205%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box15{
width:48%;
height:200px;

background-color:black;
border-radius:15px;
padding:15px;
box-sizing:border-box;
color:white;
}



.morestop-section{
height:500px;
width:100%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box16{
width:50%;
height:500px;
background-color:grey;
color:black;
text-align:center;

}
.box17{
width:50%;
height:500px;
background-color:white;
color:white;
}



.moresstop-section{
height:500px;
width:200%;
margin:auto;

margin-bottom:60px;
}
.box18{
width:50%;
height:300px;
background-color:rgb(235, 235, 235);
color:black;
text-align:center;

}
.box19{
width:50%;
height:400px;
background-color:rgb(235, 235, 235);
color:white;
}



.bottoms-section{
width:100%;
height:250px;
margin:auto;
display:flex;
margin-top:240px;
}
.box21{
height:300px;
width:50%;
text-align:right;
margin:auto;
border-radius:15px;
text-align:center;

}
.box22{
height:300px;
width:50%;
text-align:right;

}




.topss-section{
height:350px;
width:100%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box25{
height:350px;
width:50%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box27{
width:50%;
height:100%;
margin:auto;
background-color:#4e5461;

padding:15px;

box-sizing:border-box;
color:black;
}

.box28{
width:50%;
height:100%;
margin:auto;
background-color:#4e5461;

padding:15px;
display:flex;
box-sizing:border-box;
color:white
}

.box26{
width:48%;
height:100%;
margin:auto;
background-color:#464bdd;
border-radius:15px;
padding:15px;
box-sizing:border-box;
color:white
}



.topsss-section{
height:250px;
width:100%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box29{
height:250px;
width:60%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box31{
width:50%;
height:250px;
margin:auto;
background-color:#1b4ebd;

padding:15px;

box-sizing:border-box;
color:black;
}

.box32{
width:50%;
height:250px;
margin:auto;
background-color:#1b4ebd;

padding:15px;

box-sizing:border-box;
color:white
}

.box30{
width:40%;
height:250px;
margin:auto;
background-color:#9598f7;

padding:15px;
box-sizing:border-box;
color:white
}



.topssss-section{
height:250px;
width:100%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box33{
height:250px;
width:80%;
margin:auto;
border-radius:1px solid black;
margin-bottom:60px;
}
.box35{
width:90%;
height:100%;
margin:auto;
background-color:#1b4ebd;
border-right:1px solid black;
padding:15px;

box-sizing:border-box;
color:black;
}

.box36{
width:90%;
height:80%;
margin:auto;
border-right:1px solid black;

padding:15px;

box-sizing:border-box;
color:black;
}
.box34{
height:250px;
width:80%;
margin:auto;
border-radius:1px solid black;
margin-bottom:60px;
}
.box37{
width:90%;
height:100%;
margin:auto;


padding:15px;

box-sizing:border-box;
color:black;
}

.box38{
width:90%;
height:80%;
margin:auto;


padding:15px;

box-sizing:border-box;
color:black;
}
.box39{
width:90%;
height:100%;
margin:auto;

text-align:center;
padding:15px;
padding-top:170px;
box-sizing:border-box;
color:black;
}



.topsssss-section{
height:250px;
width:100%;
margin:auto;
margin-top:250px;
display:flex;
margin-bottom:60px;
}
.box40{
height:250px;
width:60%;
display:flex;
margin:auto;

margin-bottom:60px;
}
.box41{
width:60%;
height:100%;
margin:auto;


padding:15px;

box-sizing:border-box;
color:black;
}

.box42{
width:60%;
height:80%;
margin:auto;
border-right:1px solid black;

padding:15px;

box-sizing:border-box;
color:black;
}
.box43{
height:250px;
width:60%;
margin:auto;
display:flex;
border-radius:1px solid black;
margin-bottom:60px;
}
.box44{
width:60%;
height:100%;
margin:auto;


padding:15px;

box-sizing:border-box;
color:black;
}

.box45{
width:60%;
height:80%;
margin:auto;

border-right:1px solid black;
padding:15px;

box-sizing:border-box;
color:black;
}
.box46{
height:250px;
width:60%;
margin:auto;
display:flex;
border-radius:1px solid black;
margin-bottom:60px;
}
.box47{
width:60%;
height:100%;
margin:auto;


padding:15px;

box-sizing:border-box;
color:black;
}

.box48{
width:60%;
height:80%;
margin:auto;


padding:15px;

box-sizing:border-box;
color:black;
}




.box49{
height:80px;
width:80%;
display:flex;
border-radius:1px solid black;
margin-bottom:60px;
}
.box50{
width:90%;
height:100%;
margin:auto;
padding:15px;
box-sizing:border-box;
color:black;
}

.box51{
width:90%;
height:80%;
margin:auto;
padding:15px;
box-sizing:border-box;
color:rgb(20, 19, 19);
}



.topssssx-section{
height:250px;
width:100%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box52{
height:170px;
width:80%;
margin:auto;
border-radius:1px solid black;
margin-bottom:60px;
}
.box53{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;

padding:15px;

box-sizing:border-box;
color:black;
}

.box54{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;
border-bottom:1px solid black;

padding:15px;

box-sizing:border-box;
color:rgb(57, 47, 199);
}
.box55{
height:170px;
width:80%;
margin:auto;
border-radius:1px solid black;
margin-bottom:60px;
}
.box56{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;

padding:15px;

box-sizing:border-box;
color:black;
}

.box57{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;
border-bottom:1px solid black;

padding:15px;

box-sizing:border-box;
color:rgb(57, 47, 199);
}
.box58{
height:170px;
width:80%;
margin:auto;
border-radius:1px solid black;
margin-bottom:60px;
}
.box59{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;

padding:15px;

box-sizing:border-box;
color:black;
}

.box60{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;
border-bottom:1px solid black;

padding:15px;

box-sizing:border-box;
color:rgb(57, 47, 199);
}
.box61{
height:170px;
width:80%;
margin:auto;
border-radius:1px solid black;
margin-bottom:60px;
}
.box62{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;

padding:15px;

box-sizing:border-box;
color:black;
}

.box63{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;
border-bottom:1px solid black;

padding:15px;

box-sizing:border-box;
color:rgb(57, 47, 199);
}
.box64{
height:170px;
width:80%;
margin:auto;
border-radius:1px solid black;
margin-bottom:60px;
}
.box65{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;

padding:15px;

box-sizing:border-box;
color:black;
}

.box66{
width:100%;
height:80%;
margin:auto;
background-color:#d1cdcd;
border-bottom:1px solid black;

padding:15px;

box-sizing:border-box;
color:rgb(57, 47, 199);
}



.lowerxx-section{
height:250px;
width:100%;
margin:auto;
display:flex;
margin-bottom:60px;
}
.box67{
height:200px;
width:70%;

margin-bottom:60px;
}
.box68{
height:200px;
width:80%;
margin:auto;
display:flex;
margin-bottom:60px;
color:black;
}
.box69{
width:90%;
height:80%;
margin:auto;

color:rgb(50, 112, 204);
}

.box70{
width:90%;
height:80%;
margin:auto;
color:rgb(50, 112, 204);
}
.box71{
width:90%;
height:80%;
margin:auto;
color:rgb(50, 112, 204);
}
.box72{
height:200px;
width:80%;
margin:auto;
display:flex;
margin-bottom:60px;
color:black;
}
.box73{
width:90%;
height:80%;
margin:auto;
color:rgb(50, 112, 204);
}

.box74{
width:90%;
height:80%;
margin:auto;
color:rgb(50, 112, 204);
}
.box75{
width:90%;
height:80%;
margin:auto;
color:rgb(50, 112, 204);
}



.box79{
height:200px;
width:60%;
margin:auto;
margin-bottom:60px;
border-radius:1px solid black;
}
.box80{
width:160px;
height:75%;
margin:auto;
margin-bottom:60px;
color:#6E71CC;

}

.box81{
width:100%;
height:100%;
margin:auto;
color:black;
}

.box82{
width:100%;
height:100%;
margin:auto;
display:flex;
color:black;
}
.box83{
width:100%;
height:100%;
margin:auto;
color:black;
}
.box84{
width:100%;
height:100%;
margin:auto;
color:black;
}
.box85{
width:100%;
height:100%;
margin:auto;
display:flex;
color:black;
}


